<div class="container-fluid" style="background-color:#F7F7F7">
  <div class="row">
    <div class="col-md-12">
      <%= render "shared/navbar"%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
      <br>
      <h2 align="center">Sign up</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true}) do |f| %>
          <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :username %><br />
          <%= f.text_field :username %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :avatar %>
          <%= f.file_field :avatar, class: 'form-control' %>
        </div>
        <div class="actions">
          <%= f.submit "Sign up", class: 'btn btn-primary' %>
        </div>
        <% end %>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br>
      <br>
      <br>
      <br>
      <h6 align="center">This project has been developed by Jaime Pérez Sánchez and Sergio Pérez Sánchez for the subject "System Web Development"</h6>
    </div>
  </div>
</div>
