<div class="row">
  <div class="col-md-12">
    <%= render "shared/navbar"%>
  </div>
</div>
<div class="container-fluid">

</div>
<div class="row">
  <div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-1">
    <h3>Profile</h3>
    <div class="well">
      <div id="img_profile">
        <% if current_user.avatar.present? %>
          <%= image_tag(current_user.avatar, :width => 150, :height => 150, :class => "img-responsive")%>
        <% else %>
          <img class="img-responsive" src="assets/default_avatar.png">
        <% end %>
      </div>
      <br>
      <p>Username: <%=current_user.username%></p>
      <p>Likes: <%=@likes%></p>
      <p>Friends: <%=@friends.count%></p>
      <div class="btn-group">
        <%= link_to 'Edit my profile', edit_user_registration_path, class:'btn btn-default'%>
      </div>
  </div>
</div>
  <div class="col-md-6 col-sm-6 col-md-offset-1 col-sm-offset-1">
    <h2>People</h2>
    <br>
    <%= form_tag("/people", method: "post", class:"well") do %>
      <h3>Friends</h3>
      <input type="text" value=<%= @user.username %> name="username" style="display: none"></button>
      <% if @friends.size==0 %>
        <%= "You haven't any friends" %>
      <% else %>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Username</th>
              <th>Revoke</th>
            </tr>
          </thead>
          <tbody>
            <% @friends.each do |friend| %>
              <tr>
                <td><%= link_to friend.username, controller: "people", action: "show", id:friend.username, class:'btn btn-default'%></td>
                <td><button class="btn btn-danger" type="submit" value=<%= friend.username %> name="revoke">Revoke Friend</button></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      <h3>Pending Friends</h3>
        <% if @pending.size==0 %>
          <%= "You haven't any pending friends" %>
        <% else %>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <% @pending.each do |pend| %>
                <tr>
                  <td><%= link_to pend.username, controller: "people", action: "show", id:pend.username, class:'btn btn-default'%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <h3>Requested Friends</h3>
        <% if @requested.size==0 %>
          <%= "You haven't any requested friends" %>
        <% else %>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Username</th>
                <th>Accept</th>
                <th>Decline</th>
              </tr>
            </thead>
            <tbody>
              <% @requested.each do |reque| %>
                <tr>
                  <td><%= link_to reque.username, controller: "people", action: "show", id:reque.username, class:'btn btn-default'%></td>
                  <td><button class="btn btn-success" type="submit" value=<%= reque.username %> name="accept">Accept</button></td>
                  <td><button class="btn btn-danger" type="submit" value=<%= reque.username %> name="decline">Decline</button></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <h3>People</h3>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Username</th>
              <th>Request</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= link_to user.username, controller: "people", action: "show", id:user.username, class:'btn btn-default'%></td>
                <td><button class = "btn btn-primary" type="submit" value=<%= user.username %> name="request">Request Friend</button></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<br>
