<div class="row">
  <div class="col-md-12">
    <%= render "shared/navbar"%>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-1">
    <h3>Profile</h3>
    <div class="well">
      <div id="img_profile">
        <% if @person.avatar.present? %>
          <%= image_tag(@person.avatar, :width => 150, :height => 150, :class => "img-responsive")%>
        <% else %>
          <img class="img-responsive" src="assets/default_avatar.png">
        <% end %>
      </div>
      <br>
      <p>Username: <%=@person.username%></p>
      <p>Likes: <%=@likes%></p>
      <p>Friends: <%=@friends.count%></p>
      <% if @person.username == current_user.username %>
        <div class="btn-group">
          <%= link_to 'Edit my profile', edit_user_registration_path, class:'btn btn-default'%>
        </div>
      <% end %>
  </div>
</div>
  <div class="col-md-6 col-sm-6 col-md-offset-1 col-sm-offset-1">
    <% if @posts.size==0 %>
      <br>
      <%= @person.username+" hasn't any posts" %>
    <% else %>
      <br>
      <h3>Posts</h3>
      <br>
      <%= render 'home/time_line', post: @posts %>
    <% end %>
  </div>
