<% if current_user.liked? likeable %>
  <%= form_tag unlike_path(likeable_type: likeable.class.to_s, likeable_id: likeable.id), method: :post, remote: true, class: 'form-like' do %>
    <% button_tag class: 'btn btn-danger liked' do %>
       Unlike
    <% end %>
  <% end %>
<% else %>
  <%= form_tag like_path(likeable_type: likeable.class.to_s, likeable_id: likeable.id), remote: true, class: 'form-like' do %>
    <% button_tag class: 'btn btn-primary' do %>
       Like
    <% end %>
  <% end %>
<% end %>
