<div class="row">
  <div class="col-md-12">
    <%= render "shared/navbar"%>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-1">
    <h3>Profile</h3>
    <div class="well">
      <div id="img_profile">
        <% if current_user.avatar.present? %>
          <%= image_tag(current_user.avatar, :width => 150, :height => 150, :class => "img-responsive")%>
        <% else %>
          <img class="img-responsive" src="assets/default_avatar.png">
        <% end %>
      </div>
      <br>
      <p>Username: <%=current_user.username%></p>
      <p>Likes: <%=@likes%></p>
      <p>Friends: <%=@friends.count%></p>
      <div class="btn-group">
        <%= link_to 'Edit my profile', edit_user_registration_path, class:'btn btn-default'%>
      </div>
  </div>
  </div>
  <div class="col-md-6 col-sm-6 col-md-offset-1 col-sm-offset-1">
    <h2>Manage People<h2>
    <%= form_tag("/manage", method: "post", class:"well") do %>
      <% if @users.size==0 %>
        <%= "Already, there aren't any person in the Social Network." %>
      <% else %>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th><h3>Username</h3></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <% if user.admin %>
                  <td><%= user.username %> (admin)</td>
                <% else %>
                  <td><%= user.username %> (user)</td>
                <% end %>
                <td><button class="btn btn-success" type="submit" value=<%= user.username %> name="profile">Profile</button></td>
                <td><button class="btn btn-primary" type="submit" value=<%= user.username %> name="relationship">Relatioship</button></td>
                <td><button class="btn btn-danger" type="submit" value=<%= user.username %> name="delete">Delete User</button></td>
                <td><button class="btn btn-warning" type="submit" value=<%= user.username %> name="role">Change Role</button></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>
</div>
