<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "PS Social Network", root_url, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-top">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Home", controller: "home", action: "index", id:current_user.username, class:'btn btn-default'%></li>
          <li><%= link_to "Profile", controller: "people", action: "show", id:current_user.username, class:'btn btn-default'%></li>
          <li><%= link_to "People", controller: "people", action: "index", id:current_user.username, class:'btn btn-default'%></li>
          <% if current_user.admin %>
            <li><%= link_to "Manage Users", controller: "controls", action: "index", id:current_user.username, class:'btn btn-default'%></li>
          <% end %>
          <li><%= link_to('Sign out', destroy_user_session_path, method: :delete) %></li>
        <% else %>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <li><%= link_to 'Log in', user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
