<% if @posts.size==0 %>
    There aren't posts published yet.
<% else %>

 <% @posts.each do |post| %>
 <div class="well">
    <div class="panel panel-info">
      <div class="panel-heading" id="info">
        <div class="row">
          <div class="col-md-1">
            <% if post.user.avatar.present? %>
              <%= image_tag(post.user.avatar, :style => 'float:left' , :width => 30, :height => 30) %>
            <% else %>
              <img class="img-responsive" style="float:left" src="assets/default_avatar_little.png">
            <% end %>
          </div>
          <div class="col-md-4">
            <h4 class="name"><%=post.user.username%></h4>
          </div>
          <div class="col-md-2 col-md-offset-5">
            <%= link_to "Share", controller: "posts", action: "share", id:post.id, class:'btn btn-warning'%>
          </div>
        </div>
      </div>
      <div class="panel-body" id="content">
        <p><%=post.content%></p>
        <% if post.attachment.present? %>
          <div class="attachment">
            <%=image_tag(post.attachment, :width => 350, :height => 350, :class => 'img-responsive')%>
          </div>
        <% end %>
      </div>
      <div class="panel-footer custom-footer" id="actions">
        <div class="row">
            <% if current_user.email == post.user.email || current_user.admin?%>
              <div class="col-md-4">
                <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-warning'%>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
              </div>
              <div class="col-md-4 col-md-offset-2">
                <p>Post likes: <%=post.get_likes.size%></p>
              </div>
              <div class="col-md-2">
                <%= render "likes/form", likeable: post %>
              </div>
            <% else %>
              <div class="col-md-4 col-md-offset-6">
                <p>Post likes: <%=post.get_likes.size%></p>
              </div>
              <div class="col-md-2">
                <%= render "likes/form", likeable: post %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
    <!--
    <div class="post">
      <div id="info">
        <span>
          <% if post.user.avatar.present? %>
            <%= image_tag(post.user.avatar, :style => 'float:left' , :width => 30, :height => 30) %>
          <% else %>
            <img class="img-responsive" style="float:left" src="assets/default_avatar_little.png">
          <% end %>
          <h4 class="name"><%=post.user.username%></h4>
        </span>
      </div>
      <hr>
      <div id="content">
        <p><%=post.content%></p>
        <% if post.attachment.present? %>
        <div id="attachment">
          <%=image_tag(post.attachment, :width => 350, :height => 350)%>
        </div>
        <% end %>
      </div>
      <div id="actions" class="btn-group">
          <% if current_user.email == post.user.email || current_user.admin?%>
            <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-warning'%>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            <%= render "likes/form", likeable: post %>
            <%= link_to "Share", controller: "posts", action: "share", id:post.id, class:'btn btn-warning'%>
            <p>Likes: <%=post.get_likes.size%></p>
          <% else %>
            <%= render "likes/form", likeable: post %>
            <%= link_to "Share", controller: "posts", action: "share", id:post.id, class:'btn btn-warning'%>
            <p>Likes: <%=post.get_likes.size%></p>
          <% end %>
      </div>
    </div>
  -->
    <br>
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <div id="comments">
          <% post.comments.each do |comment| %>
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-1">
                  <% if comment.user.avatar.present? %>
                    <%= image_tag(comment.user.avatar, :style => 'float:left' , :width => 30, :height => 30) %>
                  <% else %>
                    <img class="img-responsive" style="float:left" src="assets/default_avatar_little.png">
                  <% end %>
                </div>
                <div class="col-md-4">
                  <h4 class="name"><%=comment.user.username%></h4>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <p><%= comment.comment %></p>
            </div>
          </div>
          <!--
            <div id="comment" style="background-color:#e7e7e7">
              <span>
                <% if comment.user.avatar.present? %>
                  <%= image_tag(comment.user.avatar, :style => 'float:left' , :width => 30, :height => 30) %>
                <% else %>
                  <img class="img-responsive" style="float:left" src="assets/default_avatar_little.png">
                <% end %>
                <h4 class="name"><%=comment.user.username%></h4>
              </span>
              <hr>
              <p><%= comment.comment %></p>
              <br>
            </div> -->
          <% end %>
        </div>
        <div id="newComment">
          <%= render "comments/form", commentable: post%>
        </div>
      </div>
    </div>
    <br>
  </div>
    <% end %>
<br><br>
<% end %>
