<div class="container-fluid" style="background-color:#F7F7F7">
  <div class="row">
    <div class="col-md-12">
      <%= render "shared/navbar"%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
      <br>
      <h1 align="center">Welcome to PS Social Network!</h1>
      <br><br><br>
      <img src="assets/profile.png" align="middle" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br>
      <br>
      <br>
      <br>
      <h6 align="center">This project has been developed by Jaime Pérez Sánchez and Sergio Pérez Sánchez for the subject "System Web Development"</h6>
    </div>
  </div>
</div>
