
<div class="row">
  <div class="col-md-12">
    <%= render "shared/navbar"%>
  </div>
</div>
<br>
<div class="container-fluid">
<div class="row">
  <div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-1">
    <h3>Profile</h3>
    <div class="well">
      <div id="img_profile">
        <% if current_user.avatar.present? %>
          <%= image_tag(current_user.avatar, :width => 150, :height => 150, :class => "img-responsive")%>
        <% else %>
          <img class="img-responsive" src="assets/default_avatar.png">
        <% end %>
      </div>
      <br>
      <p>Username: <%=current_user.username%></p>
      <p>Likes: <%=@likes%></p>
      <p>Friends: <%=@friends.count%></p>
      <div class="btn-group">
        <%= link_to 'Edit my profile', edit_user_registration_path, class:'btn btn-default'%>
      </div>
  </div>
</div>
  <div class="col-md-6 col-sm-6 col-md-offset-1 col-sm-offset-1">
    <div class="row">
      <div class="col-md-12">
          <%= render 'posts/form', post: @post %>
      </div>
      <div class="col-md-12">
        <br>
        <h3>Friends and Mine's Posts</h3>
        <%= render 'home/time_line', post: @posts %>
      </div>
    </div>
  </div>
</div>
</div>
