<div class="container-fluid wrapper" style="background-color:#F7F7F7">
  <div class="row">
    <div class="col-md-12">
      <%= render "shared/navbar"%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
      <br><br><br>
      <h2 align="center">Log In</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class:'btn btn-primary'%>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br><br><br><br><br><br><br><br><br>
      <h6 align="center">This project has been developed by Jaime Pérez Sánchez and Sergio Pérez Sánchez for the subject "System Web Development"</h6>
    </div>
  </div>
</div>
