<h3>Publish a new Post</h3>
<%= form_for(@post) do |f| %>
  <div class="form-group">
    <br>
      <%= f.text_area :content, class: 'form-control', autofocus: true,
          placeholder: 'What\'s up?' %>
      <%= f.file_field :attachment, class: 'form-control' %>
  </div>
  <%= f.submit :post, class: 'btn btn-primary'%>
<% end %>
