<div class="post">
  <div id="info">
    <h5 class="name"><%= link_to post.user.email%></h5>
  </div>
  <hr>
  <div id="content">
    <p><%=post.content%></p>
    <% if post.attachment.present? %>
    <div id="attachment">
      <%=image_tag(post.attachment, :width => 350, :height => 350)%>
    </div>
    <% end %>
  </div>
</div><br>
