<div class="container-fluid wrapper" style="background-color:#F7F7F7">
  <div class="row">
    <div class="col-md-12">
      <%= render "shared/navbar"%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
    <h1>Editing Post</h1>
    <br>
    <%= render 'form', post: @post %>
  </div>
  <br>
</div>
