/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

form {
  border-radius: 6px;
  background-color: #E5E5FF;
  padding: 10px;
}

.post {
  border-radius: 6px;
  background-color: #D8ECB2;
  padding: 10px;
}

.navbar {
  border-radius: 4px;
  background-color: #8abfdf;
  padding: 10px;
  font-weight: bold;
}

.form-like {
  background-color: #d9edf7;
}

.custom-footer {
  background-color: #d9edf7;
}
